{% extends 'base_listas.html' %} 

{% block titulo %}
Eventec
{% endblock %}

<title>{{titulo}}</title>


{% block marca %}
<h1><a href="/">Eventec</a></h1>
{% endblock %} 

{% block navbar %}
<li><a href="/eventos/tipo/">Tipos</a></li>
<li><a href="/eventos/categoria/">Categorias</a></li>

{% if tipo_usuario == 'Externo' or tipo_usuario == 'Interno' or tipo_usuario == 'Alumno' or tipo_usuario == 'Admin' %}
<li><a href="/user/profile/">Perfil</a></li>
<li><a href="/user/crear_evento/">Crear Evento</a></li>
{% endif %}

{% if tipo_usuario == 'Admin' %}
<li><a href="/user/admin">Admin</a></li>
{% endif %}
{% if tipo_usuario == 'Staff' %}
<li ><a href="/staff/eventos/">Eventos Disponibles</a></li>
{% endif %}

{% if not user.is_authenticated %}
<li><a href="/login">Login</a></li>
<li><a href="/sign">Sign up</a></li>

{% else %}
<li><a href="/logout">Logout</a></li>
{% endif %}
{% endblock %} 

{% block acciones_iconos %}
<li class="menu">
  <a class="fa-bars" href="#menu">Menu</a>
</li>
{% endblock %} 

{% block menu %}
<li>
  <a href="/eventos/tipo/">
    <h3>Tipos</h3>
    <p>Mira eventos por tipo</p>
  </a>
</li>
<li>
  <a href="/eventos/categoria/">
    <h3>Categorias</h3>
    <p>Mira eventos por categoria</p>
  </a>
</li>

{% if tipo_usuario == 'Externo' or tipo_usuario == 'Interno' or tipo_usuario == 'Alumno' or tipo_usuario == 'Admin' %}
<li>
  <a href="/user/profile/">
    <h3>Perfil</h3>
    <p>Datos asociados a tu cuenta</p>
  </a>
</li>
<li>
  <a href="/user/crear_evento/">
    <h3>Crear Evento</h3>
    <p>Crea un nuevo evento</p>
  </a>
</li>
{% endif %}

{% if tipo_usuario == 'Admin' %}
<li>
  <a href="/user/admin">
    <h3>Admin</h3>
    <p>Panel de Administrador</p>
  </a>
</li>
{% elif tipo_usuario == 'Staff' %}
<li>
  <a href="/staff/eventos/">
    <h3>Tomar Asitencia</h3>
    <p>Eventos Disponibles</p>
  </a>
</li>
{% endif %}

{% endblock %} 

{% block acciones %}
{% if not user.is_authenticated %}
<li><a href="/login" class="button big fit">Login</a></li>
<li><a href="/sign" class="button big fit">Sign up</a></li>
{% else %}
<li><a href="/logout" class="button big fit">Logout</a></li>
{% endif %}
{% endblock %}


{% block post %}
<article class="post">
  <header>
    <div class="title">
      <h2><a href="#">Magna sed adipiscing</a></h2>
      <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">November 1, 2015</time>
      <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
    </div>
  </header>
  <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
  <footer>
    <ul class="actions">
      <li><a href="#" class="button big">Continue Reading</a></li>
    </ul>
    <ul class="stats">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon fa-heart">28</a></li>
      <li><a href="#" class="icon fa-comment">128</a></li>
    </ul>
  </footer>
</article>
{% endblock %}


{% block pagination %}
<li><a href="" class="disabled button big previous">Previous Page</a></li>
<li><a href="#" class="button big next">Next Page</a></li>
{% endblock %}

{% block footer %} 
{% endblock %} 

{% block extrajs %} 
{% endblock %}