{% extends 'listas.html' %}

{% block post %}
{% if eventos %}
{% for evento in eventos %}
<article class="post">
  <header>
    <div class="title">
      <h2><a href="/evento/{{evento.pk}}/">{{evento.Titulo}}</a></h2>
      <p>{{evento.DescripcionC}}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">{{evento.Fecha}} - {{evento.Hora}}</time>
      <a href="#" class="author"><span class="name">{{evento.Autor}}</span></a>
    </div>
  </header>
  <p>{{evento.DescripcionL}}</p>
  <footer>
    <ul class="actions">
      <li><a href="/evento/{{evento.pk}}/" class="button big">Continue Reading</a></li>
    </ul>
    <ul class="stats">
      {% for cat in evento.Categorias.all %}
      <li><a href="/eventos/categoria/{{cat.pk}}/">{{cat}}</a></li>
      {% endfor %}
      
      {% for cat in evento.Tipos.all %}
      <li><a href="/eventos/tipo/{{cat.pk}}/">{{cat}}</a></li>
      {% endfor %}
      
      {% if user.is_authenticated and tipo_usuario != 'Staff'%}
      <li><a href="#" class="icon fa-heart">{{evento.Likes.count}}</a></li>
      <li><a href="#" class="icon fa-comment">{{evento.Comentarios.count}}</a></li>
    {% endif %}
    </ul>
  </footer>
</article>
{% endfor %}
{% else %}
<article class="post">
  <header>
    <div class="title">
      <h2><a href="#">No hay eventos que coincidan con esos criterios</a></h2>
    </div>
  </header>
  <p>Vuelve a intentarlo con otros criterios</p>
</article>
{% endif %}
{% endblock %}


{% block pagination %}
{% if eventos.has_other_pages %}
  <ul class="pagination">
    {% if eventos.has_previous %}
      <li><a href="?page={{ eventos.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in eventos.paginator.page_range %}
      {% if eventos.number == i %}
        <li tweets="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if eventos.has_next %}
      <li><a href="?page={{ eventos.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}

{% block footer %} 
{% endblock %} 

{% block extrajs %} 
{% endblock %}